<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="UTF-8">
    <link rel="stylesheet" href="./style.css">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"
        integrity="sha512-7oYXeK0OxTFxndh0erL8FsjGvrl2VMDor6fVqzlLGfwOQQqTbYsGPv4ZZ15QHfSk80doyaM0ZJdvkyDcVO7KFA=="
        crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <title>Sudoku Solver</title>
</head>


<body>
    <div ng-app="sudocuApp">
        <div ng-controller="main" ng-init="init()">
            <div class="sudokuBox" id="root">
                <div class="block" ng-repeat="box in rangeList[9]">
                    <div class="box" ng-class="{focus:cell.x==currentFocus.x && cell.y==currentFocus.y}"
                        ng-repeat="cell in gridRange[box]" ng-click="focused(cell)">
                        <p ng-if="grid[cell.x][cell.y]!=0"> {{grid[cell.x][cell.y] }}</p>
                        <p ng-if="grid[cell.x][cell.y]==0"> </p>
                    </div>
                </div>

            </div>
            <div class="buttons" style="width: 500px; display: grid;grid-template-columns: repeat(10,10%);">
                <div ng-repeat=" val in rangeList[10]">
                    <button class="btn btn-primary" ng-click="fillup(val)"> {{val}} </button>
                </div>
            </div>
            <button class="btn btn-success" ng-click="solve()">solve!</button>
        </div>

    </div>
    </div>
</body>

<script src="./js/sudokuSolver.js"></script>
<script src="./js/UI.js"></script>

</html>